* {
    box-sizing: border-box;
    margin:0;
}

html, body {
    height: 100%;
}

.headerStyle {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    font-size: 40px;
    margin: 0;
}

.body, .sidebar, .main {
    display: flex;
    flex-flow: row;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.sidebar {
    display: flex;
    width: 20%;
    align-items: stretch;
}

.main {
    width: 80%;
    flex-flow: row;
    align-items: stretch;
}

.headerLink {
    text-decoration: none;
    color: white;
}

.headerLink:hover {
    color: gray;
}