* {
    box-sizing: border-box;
}

.headerStyle {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    font-size: 40px;
}

.body {
    display: flex;
    flex-flow: row;
    width: 75%;
}