.noteList {
    border: 2px solid black;
    width: 100%;
    padding: 10px;
}

.noteCard {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid black;
    margin: 10px;
    list-style-type: none;
    padding: 10px;
    flex-wrap: wrap;
}

.noteCardList {
    padding-left: 0;
}

.addNoteButton {
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    align-self: flex-end;
    width: 100px;
    justify-content: center;
    
}
/* I added a flex basis of 50% so that the third element on this container moves to the next line */
.link {
    display: flex;
    text-decoration: none;
    flex-basis: 50%;
    flex-grow: 0;
}
/* This is the element that needs to be on the second line of the container*/
.modified {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-basis: 50%;
}

.buttonLinkNote {
    display: flex;
    border: 2px solid black;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-color: blue;
    justify-content: center;
}

.buttonLinkNote:hover {
    background-color: dimgray;
    color: white;
}

