* {
    box-sizing: border-box;
}

.navBar {
    width: 20%;
    border: 2px black solid;
    padding: 10px;
}

.folderCard {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.folderCardList {
    padding-left: 0;
}

.addFolderButton {
    height: 100%;
    width: 100%;
}