* {
    box-sizing: border-box;
}

.navBar {
    display: flex;
    width: 100%;
    border: 2px black solid;
    padding: 10px;
}

.folderCard {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.folderCardList {
    padding-left: 0;
    width: 100%;
}

.addFolderButton {
    height: 100%;
    width: 100%;
}

.navLink {
    display: flex;
    border: 2px solid black;
    color: black;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.navLink:hover {
    background-color: dimgray;
    color: white;
}

.navLinkActive {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
}